@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --font1: "Passion One", sans-serif;
    --font2: "Sriracha", cursive, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(68, 67, 67);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font1);
}

header  h1  {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header  p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 3em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(92, 90, 90);
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0);
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.505);
    color: white;
    display: inline-block;
    padding: 3px;
}

#q1 {
    background: url('imagens/background001.jpg') center center/cover no-repeat fixed;
}

#q2 {
    background: url('imagens/background002.jpg') right center/cover no-repeat fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}